# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8027c3190ef8cd1b111a1076ae0a0632c48d2f8968121767aef58950c4843f8f953e76c806ad14f9ffd96c0cf7368e42bc679c144cd1813845d341d101ec744d

test:
  secret_key_base: 88aa5ca9791b6599c5c4a8b79154396c6ee279758f6c9bc41eeb0d84575e2d4f3684c67c873d85a520b50fa316c3a1e7d17b94b30ba6e568669b9907843492de

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
